{% extends "base-nav/base-nav.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/components/roster/view-roster.js') }}"></script>
{% endblock %}

{% block content %}
<div x-data="rosterData">
  <h1 class="text-3xl font-bold mb-4">{{ g.user_profile.active_team_name }} - Team Roster</h1>
  {% if g.user_profile.user.role.value == 'admin' or g.user_profile.user.role.value == 'coach' %}
  <div class="flex-row align-flex-start mb-6">
    <button
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-sm transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            @click="registerPlayer"
    >
      Register
    </button>
  </div>
  {% endif %}

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white dark:bg-gray-800 rounded-lg overflow-hidden shadow-sm">
      <thead class="bg-gray-50 dark:bg-gray-700">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Number</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Name</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Position</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Birth Year</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 dark:divide-gray-600">
      {% for player in players %}
      <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">{{ player.number }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">{{ player.name }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">{{ player.position }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">{{ player.birth_year }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not players or players|length == 0 %}
  <div class="text-center mt-6 text-gray-500 dark:text-gray-400">
    No players found in the roster
  </div>
  {% endif %}
</div>
{% endblock %}