{% extends "base-nav/base-nav.html" %}

{% block scripts %}
    <script src="{{ url_for("static", filename="js/components/games/view-game.js") }}"></script>
{% endblock %}

{% block content %}
    <div x-data="viewGameApp" class="min-h-screen bg-gray-50 dark:bg-gray-900 py-8 px-4 sm:px-6 lg:px-8">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="max-w-7xl mx-auto space-y-8">
            {% include "games/partials/update-form.html" %}
            {% include "games/partials/game-video.html" %}
            {% include "games/partials/stat-form.html" %}
            {% include "games/partials/stat-view.html" %}
        </div>
    </div>
{% endblock %}
